<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <div class="spacer">
      <br />
    </div>
    <a href="/login/student"><button class="btn">Student? Click here!</button></a>
    <a href="/login/instructor"><button class="btn">Instructor? Click here!</button></a>
  </div>
</div>
