.navbar-brand>img {
  display: block;
  height: inherit;
  margin-top: -15px;
}

.login {
  width: 90%;
}

.login-form {
  margin-left: 5%;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}